<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Far_hana" connectionString="XpoProvider=Hana;Server=10.19.2.148:30013;UserID=SYSTEM;Password=uEcuHwGUjbQqzk2!;Database=HV66C21341P01" />
        <add name="192.168.1.5_HDB_Connection" connectionString="XpoProvider=Hana;Server=192.168.1.5:30015;UserID=;Password=;Database=HDB" />
        <add name="localhost_PowerBI_Connection" connectionString="XpoProvider=MSSqlServer;data source=192.168.1.15,5021;user id=;password=;initial catalog=PowerBI;Persist Security Info=true" />
        <add name="PowerBI" connectionString="XpoProvider=MSSqlServer;data source=smartviewdbs.itserver.biz,5003;user id=FAR;password=M@g#1265;initial catalog=PowerBI;Persist Security Info=true" />
        <add name="SMART VIEW DBMS SERVER" connectionString="XpoProvider=MSSqlServer;data source=smartviewdbs.itserver.biz,5003;user id=FAR;password=M@g#1265;initial catalog=PowerBI;Persist Security Info=true" />
        <add name="dxReports.Properties.Settings.PowerBIConnectionString"
            connectionString="Data Source=smartviewdbs.itserver.biz,5003;Initial Catalog=PowerBI;Persist Security Info=True;User ID=FAR;Password=M@g#1265;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="RIZ_SQL_Main_RPT" connectionString="XpoProvider=MSSqlServer;data source=smartviewdbs.itserver.biz,5003;user id=FAR;password=M@g#1265;initial catalog=PowerBI;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>